apiVersion: v1
kind: ServiceAccount
metadata:
  name: stateful-migration-webhook
  namespace: stateful-migration
  labels:
    app: stateful-migration-webhook
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: stateful-migration-webhook-manager-role
  labels:
    app: stateful-migration-webhook
rules:
- apiGroups:
  - ""
  resources:
  - pods
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - migration.dcnlab.com
  resources:
  - checkpointbackups
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - migration.dcnlab.com
  resources:
  - checkpointbackups/status
  verbs:
  - get
- apiGroups:
  - batch
  resources:
  - jobs
  - cronjobs
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - patch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: stateful-migration-webhook-manager-rolebinding
  labels:
    app: stateful-migration-webhook
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: stateful-migration-webhook-manager-role
subjects:
- kind: ServiceAccount
  name: stateful-migration-webhook
  namespace: stateful-migration
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: stateful-migration-webhook-leader-election-role
  namespace: stateful-migration
  labels:
    app: stateful-migration-webhook
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - coordination.k8s.io
  resources:
  - leases
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - patch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: stateful-migration-webhook-leader-election-rolebinding
  namespace: stateful-migration
  labels:
    app: stateful-migration-webhook
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: stateful-migration-webhook-leader-election-role
subjects:
- kind: ServiceAccount
  name: stateful-migration-webhook
  namespace: stateful-migration
