---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - patch
- apiGroups:
  - ""
  resources:
  - namespaces
  verbs:
  - create
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - pods
  verbs:
  - delete
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - pods/checkpoint
  verbs:
  - create
  - patch
  - proxy
  - update
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - apps
  resources:
  - deployments
  - statefulsets
  verbs:
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - migration.dcnlab.com
  resources:
  - checkpointbackups
  - checkpointrestores
  - statefulmigrations
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - migration.dcnlab.com
  resources:
  - checkpointbackups/finalizers
  - statefulmigrations/finalizers
  verbs:
  - update
- apiGroups:
  - migration.dcnlab.com
  resources:
  - checkpointbackups/status
  - statefulmigrations/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - policy.karmada.io
  resources:
  - propagationpolicies
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - work.karmada.io
  resources:
  - resourcebindings
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - work.karmada.io
  resources:
  - works
  verbs:
  - get
  - list
  - patch
  - update
  - watch
